.containerCard {
    position: relative;
    height: 100%;
    width: 80%;
    max-width: 450px;
    border: solid #7B919D 1px;
    padding: 10% 5%;
    background-color: rgba(121, 219, 251, .5);
    border-radius: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listItem {
    text-shadow: 1px 1px 4px #051d30;
    margin: 10px 0;
    font-size: 20px;
}

.list :nth-child(4) {
    color: #ede8e8;
    margin-top: 10px;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 4px #051d30;
    margin-left: -2rem;
}

@media(min-width: 550px) {
    .containerCard {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 20px;
        min-height: 400px;
        padding: 5%;
    }

    .list {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1rem;
    }
}

@media(min-width: 750px) {
    .containerCard {
        max-width: 500px;
        font-size: 24px;
    }

    .listItem {
        font-size: 24px;
    }

    .list :nth-child(4) {
        font-size: 36px;
    }
}

@media(min-width: 1000px) {
    .containerCard {
        max-width: 700px;
        padding: 2% 10%;
    }

    .list :nth-child(4) {
        font-size: 36px;
    }

    .listItem {
        font-size: 28px;
    }
}

@media(min-width: 1400px) {
    .containerCard {
        width: 350px;
        max-width: 400px;
        padding: 2% 2%;
        max-height: 400px;
    }

    .containerCard:nth-of-type(3) .listItem:not(:last-child) {
        font-size: 16px;
    }


    .list :nth-child(4) {
        font-size: 24px;
    }

    .list {
        height: 100%;
        width: 100%;
        margin-left: 0;
    }

    .listItem {
        font-size: 17px;
        margin: 5px 0;
    }

    .containerCard:nth-of-type(3) ul {
        justify-content: center;
    }
}