.containerExpertise{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    width: 80%;
    border-radius: 10px;
    background: radial-gradient(circle, hsla(206, 97%, 15%, 1) 0%, hsla(197, 51%, 69%, 1) 100%);
    z-index: 10;
}

.title{
    color: #a9d6e5;
    text-shadow: 2px 2px 2px #051d30;
    font-size: 36px;
}

.content{
    line-height: 30px;
    margin-top: 10%;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 4px #051d30;
}

@media(min-width: 750px){
    .containerExpertise{
        margin-top: 10%;
        padding: 5%;
    }
    .title{
        font-size: 48px;
    }
}
@media(min-width: 1000px){
    .content{
        line-height: 40px;
        margin-top: 5%;
        font-size: 24px;
    }
}

