.containerExpertise{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    /* height:500px; */
    width: 80%;
    border-radius: 10px;
    background: radial-gradient(circle, hsla(206, 76%, 13%, 1) 0%, hsla(195, 94%, 73%, .8) 100%);
    z-index: 10;
}

.title{
    color: #0c4d83;
    text-shadow: 2px 2px 2px #051d30;
}

.content{
    margin-top: 10%;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 4px #051d30;
}

