.containerMain {
    display: flex;
    justify-content: center;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #051D30;
    z-index: 10;
    margin-top: 30%;
}

.footerText {
    font-size: 14px;
}

.svg {
    transform: translateY(-50px)
}

.items {
    bottom: 1%;
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.items :nth-child(2) {
    margin-right: 5%;
}

.left {
    display: flex;
    flex-direction: column;
    min-width: 220px;
}

.link {
    text-decoration: none;
    color: white;
}

@media(min-width: 750px) {
    .containerMain {
        margin-top: 15%;
    }

    .items {
        flex-direction: row;
    }

    .footerText {
        font-size: 16px;
    }
}

@media(min-width: 750px) {
    .containerMain {
        margin-top: 10%;
    }
}