.containerMain{
    
    font-family: 'Orbitron';
    display:flex;
    justify-content: center;
}

.containerCall{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form{
    border-radius: 10px;
    width: 500px;
    background: beige;
}

.formControl{
    max-width: 80%;
    border-radius: 5px;
    border: 1px solid grey;
}

.formGroup{
    margin-left: 5%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}
.datePicker{
    /* border: solid red 1px; */
    margin-left: 5%;
}

.button{
    margin-left: 5%;
}