.containerHero{
    width: 100%;
    margin-top: 10%;
    height: 100vh;
    min-height: 550px;
    max-height: 650px;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    position: relative;
}

.topWrapper{
    width: 100%;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headshot{
    /* border: solid red 1px; */
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.heroText{
    margin-top: 10%;
    background: linear-gradient(135deg, hsla(0, 0%, 100%, 1) 0%, hsla(195, 94%, 73%, 1) 100%);
    font-size: 36px;
    /* font-weight: bold; */
    min-height: 150px;
    /* border: solid red 1px; */
    z-index: 10;
    padding: 5% 5%;
    color: #08253B;
    text-align: center;
    /* text-shadow: 2px 2px 2px hsla(195, 94%, 73%, 1); */
}
.button{
    margin-top: 15%;
}


@media (min-width: 550px) {
    .heroText{
        padding: 2% 2%;
        font-size: 36px;
        border-radius: 10px;
        max-width: 450px;
    }
    .button{
        margin-top: 10%;
    }
}

@media(min-width: 750px){
    .containerHero{
        width: 100%;
        margin-top: 10%;
        height: auto;
        min-height: auto;
        max-height: auto;
    }
    .topWrapper{
        /* border: solid red 1px; */
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        padding: 0 5%;
    }
    .heroText{
        border-radius: 20px;
        font-size: 24;
        margin-top: 0;
        margin-left: 10%;
        padding: 2%;
    }
    .headshot{
        width: 250px;
        height: 250px;
    }
    .button{
        /* z-index: 10;
        position: absolute;
        bottom: 15%;
        align-self: flex-end;
        margin-right: 15%; */
        display: none;
    }
}
