/*****************
Main Section Styles
******************/

.containerMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    height: 100%;
}

.cardsInner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    height: 100%;
}

.rate {
    text-align: center;
    font-size: 42px;
    padding: 0 2%;
}

.titleCard {
    font-size: 36px;
    margin: 5% 0 2% 0;
}

.cards {
    margin-top: 20%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.titleCard {
    width: 80%;
    text-align: center;
}

.button {
    margin-top: 15%;
}

.desktopTitleCards {
    display: none;
}

/*****************
Media Queries
******************/

@media(min-width: 750px) {
    .containerMain {
        width: 90%;
        align-self: center;
        max-width: 1200px;
    }

    .cards {
        margin-top: 10%;
    }

    .rate {
        font-size: 48px;
        padding: 0;
    }

    .titleCard {
        font-size: 52px;
    }

    .button {
        margin-top: 15%;
    }
}

@media(min-width: 1000px) {
    .rate {
        font-size: 64px;
    }
}

@media(min-width: 1400px) {
    .desktopTitleCards {
        display: flex;
        flex-direction: row;
        width: 85%;
        justify-content: space-between;
        margin: 5% 0 2%;
    }

    .desktopTitleCard {
        font-size: 48px;
    }

    .cards {
        margin-top: 5%;
    }

    .cardsInner {
        flex-direction: row;
        justify-content: space-between;
    }

    .titleCard {
        display: none;
    }

    .button {
        margin-top: 10%;
    }

    .rate {
        margin-top: 5%;
    }
}